:root{
  --primary: #e7daff;
  --secondary: #ceb5ff;
  --success: #9062ea;
  --info: #e7daff;
  --warning: #6545a4;
  --danger: #E3371E;
  --purple-1: #494368;
  --purple-2: #0B080F;
  --purple-3: #110127;
  --purple-4: #110127;
  --purple-5: #190336;
  
}

.text-purple-1{
  color: var(--purple-1) !important;
}

.bg-purple-1, .btn-purple-1{
  background-color: var(--purple-1) !important;
  border-color: var(--purple-1) !important;
}

.text-purple-2{
  color: var(--purple-2) !important;
}

.bg-purple-2, .btn-purple-2{
  background-color: var(--purple-2) !important;
  border-color: var(--purple-2) !important;
}

.text-purple-3{
  color: var(--purple-3) !important;
}

.bg-purple-3, .btn-purple-3{
  background-color: var(--purple-3) !important;
  border-color: var(--purple-3) !important;
}

.text-purple-4{
  color: var(--purple-4) !important;
}

.bg-purple-4, .btn-purple-4{
  background-color: var(--purple-4) !important;
  border-color: var(--purple-4) !important;
}

.text-purple-5{
  color: var(--purple-5) !important;
}

.bg-purple-5, .btn-purple-5{
  background-color: var(--purple-5) !important;
  border-color: var(--purple-5) !important;
}

.accordion{
  --bs-accordion-bg: #FFF0 !important;
  --bs-accordion-active-color: var(--warning) !important;
  --bs-accordion-active-bg: var(--primary) !important;
}

.bg-primary, .btn-primary{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  
}
.text-primary{
  color: var(--primary) !important;
}

.bg-secondary, .btn-secondary{
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;

}

.text-secondary{
  color: var(--secondary) !important;
}

.bg-success, .btn-success{
  background-color: var(--success) !important;
  border-color: var(--success) !important;

}

.text-success{
  color: var(--success) !important;
}
.bg-info, .btn-info{
  background-color: var(--info) !important;
  border-color: var(--info) !important;

}

.text-info{
  color: var(--info) !important;
}

.bg-warning, .btn-warning{
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;

}

.text-warning{
  color: var(--warning) !important;
}

.bg-danger .btn-danger{
  background-color: var(--danger) !important;
  border-color: var(--danger) !important;

}

.text-danger{
  color: var(--danger) !important;
}

.nav-link {
  color: var(--warning) !important ;
}
.nav-link:hover{
  color: var(--warning) !important ; 
}